.game
  width: 100vw
  height: 100vh
  background-color: #80b
  color: white

  display: grid
  grid-template-areas: "header" "main"

  grid-template-rows: 75px 1fr

.header
  grid-area: header
  display: grid
  grid-template-columns: 90px 1fr 90px
  text-align: center

.main
  grid-area: main